<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMIN_UID</key>
	<string>A7waeoywDgdauEvQk3SsjPRYzPg2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.948965115871-n8slnvmmug5q35llr90ds21ijib7k2uv</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>948965115871-n8slnvmmug5q35llr90ds21ijib7k2uv.apps.googleusercontent.com</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save photos and videos you capture to your library.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to find nearby places to tag your post</string>
	<key>GMSPlacesAPIKey</key>
	<string>AIzaSyBuw7GN0DGzKl-qAAXpnQZ_4cyKBXr7yko</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
